@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #fcfcfd;

    --secondary: #fceaf7;

    --accent: #c351b0;

    --accent-light: #f88fe3;

    --accent-dark: #b445a2;

    --muted: #e0e1e6;

    --border: #d8d9e0;

    --input: #1e1f24;

    --input-muted: #8b8d98;

    --ring: #c351b0;

    --radius: 0.5rem;

    --highlight-gradient-bg-1: #c351b0;

    --highlight-gradient-bg-2: #9333ea;
  }

  .dark {
    --primary: #111113;

    --secondary: #19191b;

    --accent: #c351b0;

    --accent-light: #f88fe3;

    --accent-dark: #b445a2;

    --muted: #391414;

    --border: #46484f;

    --input: #eeeef0;

    --input-muted: #8b8d98;

    --ring: #c351b0;

    --radius: 0.5rem;

    --highlight-gradient-bg-1: #c351b0;

    --highlight-gradient-bg-2: #9333ea;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .white-dotted-background {
    background-image: radial-gradient(circle, #c3b5f7 1px, transparent 0),
      radial-gradient(circle, #c3b5f7 1px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 10px, 10px 0;
  }
}

.root,
body,
html {
  height: 100%;
}
